:root {
    --font-size-root: 16px;
    --font-size-console: 1.125rem;
    --line-height-tight: 1.3;
    --space-console-paragraph: 1em;
  }

body {
    font-family: 'Courier New', Courier, monospace;
}

.console {
    overflow-y: auto;
    width: 100%;
    height: calc(((var(--font-size-console) * var( --line-height-tight)) + var(--space-console-paragraph)) * 6);
    font-size: var(--font-size-console);
    line-height: var(--line-height-tight);
    border: 1px solid #000;
}

.console > p {
    margin-block-start: var(--space-console-paragraph);
    margin-block-end: var(--space-console-paragraph);
}
